<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blockb.beez.dao.AddressDao">
    <select id="findAddress" resultType="com.blockb.beez.dto.AddressDto">
		SELECT nickname nickName FROM MEMBER WHERE WALLET_ADDRESS = #{address}
	</select>
</mapper>
